@model IEnumerable<CommunityModel>

<div class="slide-container">
    <div class="slide-bg">
        <div class="slide-photo slide-experience-image1"></div>
        <div class="slide-photo slide-experience-image2"></div>
        <div class="slide-photo slide-experience-image3"></div>
    </div>
    <div class="container">
        <div class="slide-num">5</div>
        <div class="row align-items-center mb-4 animate-element delay5 fadeInDown">
            <div class="col-8">
                <h2 class="slide-title mb-0">Вебинары</h2>
            </div>
            <div class="col-4 text-right">
                <div class="a-carousel-nav carousel-nav"></div>
            </div>
        </div>
        <div class="animate-element delay5 fadeInUp">
            <div class="carousel-experience a-carousel-experience owl-carousel owl-theme">
                <div class="experience-list">
                    @foreach (var item in Model)
                    {
                        <div class="experience-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="experience-item-date">@Html.DisplayFor(modelItem => item.DateWebinar)</div>
                                    <div class="experience-item-company slide-title-sub company-blue">
                                        @Html.DisplayFor(modelItem => item.TypeCommunity)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-title slide-title-sub">@Html.DisplayFor(modelItem => item.Header)</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="experience-item-descr slide-descr">@Html.DisplayFor(modelItem => item.Description)</div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="slide-btn">
                <a href="#" class="btn btn-success"><i class="lni lni-download mr-3"></i>Скачать расписание</a>
            </div>
        </div>
    </div>
</div>