@model Tuple<Community, List<TypeRequest>>

@{
    ViewData["Title"] = "EditProjectNews";
}

<div class="section pp-scrollable slide-dark slide-dark-footer slide-personal-intro">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-golden slide-intro-circle1 transformLeft"></div>
            <div class="slide-photo circle-brown slide-intro-circle2 transformRight"></div>
            <div class="slide-photo slide-intro-man"></div>
        </div>
        <div class="container">
            <div class="slide-num">1</div>
            <div class="row">
                <div class="col-12">
                    <h1 class="slide-title animate-element delay5 fadeInDown">Добавить проект</h1>
                    <div class="animate-element delay5 fadeInUp">
                        <form method="post" asp-action="EditWebinarConfirm" asp-route-id="@Model.Item1.Id">
                            <div class="form-group form-group-material a-form-group">
                                <input type="text" name="header" asp-for="Item1.Header" class="form-control" required="" placeholder="Заголовок *">
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <select class="form-control" name="type" asp-for="Item1.Type">
                                    @foreach (var item in Model.Item2)
                                    {
                                        <option>@Html.DisplayFor(modelItem => item.NameTypeRequest)</option>
                                    }

                                </select>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <textarea name="description" asp-for="Item1.Description" class="form-control" required="" placeholder="Описание *" rows="3"></textarea>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <input type="date" name="datewebinar" asp-for="Item1.DateWebinar" class="form-control" required="" placeholder="Дата релиза *">
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <a asp-action="AdminPanel" class="btn btn-dark">Отмена</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
