@model List<TypeRequest>
@{
    ViewData["Title"] = "New Webinar";
}



<div class="section pp-scrollable slide-dark slide-dark-footer slide-personal-intro">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-golden slide-intro-circle1 transformLeft"></div>
            <div class="slide-photo circle-brown slide-intro-circle2 transformRight"></div>
            <div class="slide-photo slide-intro-man"></div>
        </div>
        <div class="container">
            <div class="slide-num">1</div>
            <div class="row">
                <div class="col-12">
                    <h1 class="slide-title animate-element delay5 fadeInDown">Добавить вебинар</h1>
                    <div class="animate-element delay5 fadeInUp">
                        <form method="post" asp-action="AddNewWebinar">
                            <div class="form-group form-group-material a-form-group">
                                <input type="text" name="header" class="form-control" required="" placeholder="Название вебинара *">
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <select class="form-control" name="type">
                                    @foreach (var item in Model)
                                    {
                                        <option>@Html.DisplayFor(modelItem => item.NameTypeRequest)</option>
                                    }

                                </select>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <input type="date" name="datewebinar" class="form-control" required="" placeholder="Когда? *">
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <input type="text" name="description" class="form-control" placeholder="Отчество">
                            </div>

                            <div class="form-group form-group-material a-form-group">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <a asp-action="AdminPanel" class="btn btn-dark">Отмена</a>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

